<template>
  <div class="map">
    <h2>Map using Leaflet and Vue</h2>

    <!-- Point Marker Map -->
    <div style="height: 500px; width: 100%">
      <l-map :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>

        <!-- Add markers with tooltips -->
        <l-marker
          v-for="(location, index) in locations"
          :key="index"
          :lat-lng="location.coordinates"
          @mouseover="showTooltip(location)"
          @mouseout="hideTooltip"
        >
          <l-tooltip :options="tooltipOptions" ref="tooltip">
           <div>
            <h5> {{location.name }}</h5>
            <p>{{location.coordinates[0] + " ," + location.coordinates[1] }}</p>
            </div>   
          </l-tooltip>
        </l-marker>
      </l-map>
    </div>

    <!-- Polygon Map -->
    <div>
      <h3>Polygon Map</h3>
      <div style="height: 500px; width: 100%">
        <l-map :zoom="zoom" :center="center">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
          <l-polygon
            v-for="(state, index) in states"
            :key="index"
            :lat-lngs="state.coordinates"
            :options="polygonOptions"
          > <l-tooltip :options="tooltipOptions" ref="tooltip">
           <div>
            <h5> {{state.name }}</h5>
           <p>{{ state.population + "people population" }}</p> 
            </div>   
          </l-tooltip></l-polygon>
        </l-map>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution:
        '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 10,
      center: [12.9716, 77.5946], // Centered around Bangalore
      locations: [
        { name: "Indiranagar", coordinates: [12.9784, 77.6339] },
        { name: "MG Road", coordinates: [12.9758, 77.6115] },
        { name: "Jayanagar", coordinates: [12.9295, 77.5825] },
        { name: "Rajajinagar", coordinates: [12.9882, 77.5549] },
        { name: "Whitefield", coordinates: [12.969, 77.749] },
        { name: "BTM Layout", coordinates: [12.9152, 77.6104] },
      ],
      states: [
        {
          name: "Karnataka",
          population:"7.17 Crores",
          coordinates: [
            [16.9182, 74.639],
            [16.524, 76.2325],
            [13.0899, 78.4753],
            [12.4934, 74.6074],
            [15.3173, 74.3184],
            [16.9182, 74.639],
          ],
        },
        {
          name: "Tamil Nadu",
          population:"8.39 Crores",
          coordinates: [
            [12.4967, 77.8375],
            [8.1891, 77.8375],
            [8.1891, 80.2672],
          ],
        },
        {
          name: "Andhra Pradesh",
          population:"5.32 Crores",
          coordinates: [
            [14.8185, 78.3278],
            [13.3134, 80.3472],
            [17.9214, 83.3527],
            [19.136, 80.3552],
            [12.8185, 78.3278],
          ],
        },
        {
          name: "Telangana",
          population:"3.82 Crores",
          coordinates: [
            [18.184, 77.3887],
            [15.6917, 79.4528],
            [17.1232, 81.1026],
            [18.184, 77.3887],
          ],
        },
        {
          name: "Maharashtra",
          population:"12.63 crore",
          coordinates: [
            [21.1466, 72.7763],
            [17.8869, 73.3273],
            [15.7127, 76.0988],
            [20.007, 80.2654],
            [21.1466, 72.7763],
          ],
        },
        {
          name: "Gujarat",
          population:"8.39 Crores",
          coordinates: [
            [22.6748, 81.8241],
            [20.6951, 81.7477],
            [19.7589, 83.1076],
            [22.6748, 81.8241],
          ],
        },
        {
          name: "Chhattisgarh",
          population:"8.39 Crores",
          coordinates: [
            [23.6345, 74.1221],
            [21.724, 74.1221],
            [21.724, 82.1862],
            [26.866, 80.854],
            [26.866, 74.1221],
          ],
        },
        {
          name: "Madhya Pradesh",
          population:"8.39 Crores",
          coordinates: [
            [23.6345, 68.1292],
            [20.4519, 72.0369],
            [20.966, 74.6888],
            [23.6345, 72.1292],
          ],
        },
      ],
      polygonOptions: {
        color: "red",
        fillColor: "#f03",
        fillOpacity: 0.5,
      },
      bounds: null,
    };
  },
  methods: {
    showTooltip(location) {
      this.$refs.tooltip
        .setLatLng(location.coordinates)
        .setContent(location.name)
        .openOn(this.$refs.map.mapObject);
    },
    hideTooltip() {
      this.$refs.tooltip.removeFrom(this.$refs.map.mapObject);
    },
  },
};
</script>
